<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"
    />
    <link rel="stylesheet" href="../static/css/style.css" />
    <link rel="stylesheet" href="../static/font/font.css" />
    <link rel="icon" type="image/png" href="../static/favicon.png" />
    <title>Trevland</title>
  </head>
  <body>
    <header class="header">
      <nav class="container header__navigation">
        <p class="logo">Trevland</p>
        <div class="menu__btn">
          <span class="menu__btn-line menu__btn-line--top"></span>
          <span class="menu__btn-line menu__btn-line--mid"></span>
          <span class="menu__btn-line menu__btn-line--bot"></span>
        </div>
        <div class="menu__block">
          <ul class="menu__list">
            <li class="menu__item"><a class="menu__link" href="">Home</a></li>
            <li class="menu__item">
              <a class="menu__link" href="">Location</a>
            </li>
            <li class="menu__item"><a class="menu__link" href="">Blog</a></li>
            <li class="menu__item"><a class="menu__link" href="">About</a></li>
            <li class="menu__item">
              <a class="menu__link" href="">Contact</a>
            </li>
          </ul>
        </div>
        <a class="button header__navigation-button" href="">Booking now</a>
      </nav>
    </header>
    <main>
      <section class="first section">
        <img class="first__block-img" src="../static/img/main_img.svg" alt="" />
        <div class="container first__block">
          <h1 class="first__text first__block-title">
            Railtrips To Here,<br />
            There And Everywhere!
          </h1>
          <p class="section__text first__block-description">
            We all wish to start our year the best way possible and also
            according to a common belief if you have a great start to your.
          </p>
          <a class="button first__block-button" href="">Explore more</a>
        </div>
      </section>
      <section class="second section">
        <div class="container">
          <h2 class="section__title">Popular Location</h2>
          <p class="section__text second__description">
            For every one of us, travel came first. We’ve spent years living as
            nomads, pioneers, and <br />voyagers— from island hopping in the
          </p>
          <div class="second__wrapper">
            <div class="second__card card">
              <div class="card__wrapper">
                <img
                  class="img"
                  src="../static/img/istanbul.svg"
                  alt="Istanbul_img"
                />
              </div>
              <h3 class="second__card-title">Istanbul, Turkey</h3>
              <p class="section__text second__card-description">
                Istanbul is a major city in Turkey that<br />straddles Europe.
              </p>
            </div>
            <div class="second__card card">
              <div class="card__wrapper">
                <img
                  class="img"
                  src="../static/img/kl.svg"
                  alt="Kuala_Lumpur_img"
                />
              </div>
              <h3 class="second__card-title">Kuala Lumpur, malaysia</h3>
              <p class="section__text second__card-description">
                A 272-step long trek leads you to<br />this century.
              </p>
            </div>
            <div class="second__card card">
              <div class="card__wrapper">
                <img
                  class="img"
                  src="../static/img/seoul.svg"
                  alt="Seoul_img"
                />
              </div>
              <h3 class="second__card-title">Seoul, South Korea</h3>
              <p class="section__text second__card-description">
                South Korea officially the Republic of<br />Korea is a country
                in East Asia.
              </p>
            </div>
          </div>
        </div>
      </section>
      <section class="third section">
        <div class="container third__block">
          <h4 class="section__title">From Blog & News</h4>
          <p class="section__text third__description">
            Welcome to Community Conversations, a new interview series featuring
            <br />
            Intrepid travellers, creatives and activists in our community.
          </p>
          <div class="third__wrapper">
            <div class="third__card third__card-active card">
              <div class="card__wrapper">
                <img
                  class="img"
                  src="../static/img/niagara.svg"
                  alt="Banff_Park_img"
                />
              </div>
              <h5 class="third__card-title">Banff National Park</h5>
              <p class="section__text third__card-description">
                Banff National Park lies in the heart of the majestic Rocky
                Mountains in the province of Alberta, and showcases some of
                Canada's most beautiful scenery.<br id="br_00" />
                Turquoise-colored lakes, snow-capped peaks, and glaciers are all
                easily accessible
              </p>
              <p class="third__card-user" href="">@thomasalva_adison</p>
            </div>
            <div class="third__card-other">
              <div class="third__card third__card-inactive card">
                <div class="card__wrapper">
                  <img
                    class="img"
                    src="../static/img/hiroshima.svg"
                    alt="Hiroshima_img"
                  />
                </div>
                <div class="third__card-info">
                  <h5 class="third__card-title">The Hiroshima Peace!</h5>
                  <p class="section__text third__card-description">
                    It was formally opened to the public in August that year.
                  </p>
                  <p class="third__card-user" href="">@shova_bd88</p>
                </div>
              </div>
              <div class="third__card third__card-inactive card">
                <div class="card__wrapper">
                  <img
                    class="img"
                    src="../static/img/varanasi.svg"
                    alt="Varanasi_img"
                  />
                </div>
                <div class="third__card-info">
                  <h5 class="third__card-title">The faithful prayers!</h5>
                  <p class="section__text third__card-description">
                    A major pilgrimage center for Hindus, the holy city.
                  </p>
                  <p class="third__card-user" href="">@adem/smith</p>
                </div>
              </div>
              <div class="third__card third__card-inactive card">
                <div class="card__wrapper">
                  <img
                    class="img"
                    src="../static/img/naltar.svg"
                    alt="Naltar_img"
                  />
                </div>
                <div class="third__card-info">
                  <h5 class="third__card-title">Colourful waters!</h5>
                  <p class="section__text third__card-description">
                    Forest-driven water and energy cycles are poorly.
                  </p>
                  <p class="third__card-user" href="">@jhon7leew</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer class="footer section">
      <div class="container footer__wrapper">
        <div class="footer__contact">
          <h5 class="logo">Trevland</h5>
          <div class="footer__social">
            <div class="footer__social-item">
              <a class="footer__social-link" href=""
                ><img
                  class="img"
                  src="../static/icon/facebook_icon.svg"
                  alt="facebook_icon"
              /></a>
            </div>
            <div class="footer__social-item">
              <a class="footer__social-link" href=""
                ><img
                  class="img"
                  src="../static/icon/instagram_icon.svg"
                  alt="instagram_icon"
              /></a>
            </div>
            <div class="footer__social-item">
              <a class="footer__social-link" href=""
                ><img
                  class="img"
                  src="../static/icon/twitter_icon.svg"
                  alt="twitter_icon"
              /></a>
            </div>
            <div class="footer__social-item">
              <a class="footer__social-link" href=""
                ><img
                  class="img"
                  src="../static/icon/google_icon.svg"
                  alt="google_icon"
              /></a>
            </div>
          </div>
          <p class="footer__text">Contact us</p>
          <a class="footer__text" href="">@shovasatkhira88.com</a>
        </div>
        <div class="footer__services">
          <ul class="footer__services-list">
            <li class="footer__services-item">
              <a class="footer__text" href="">Services</a>
            </li>
            <li class="footer__services-item">
              <a class="footer__text" href="">About</a>
            </li>
            <li class="footer__services-item">
              <a class="footer__text" href="">Our story</a>
            </li>
            <li class="footer__services-item">
              <a class="footer__text" href="">Benefits</a>
            </li>
            <li class="footer__services-item">
              <a class="footer__text" href="">Branding</a>
            </li>
          </ul>
          <ul class="footer__services-list">
            <li class="footer__services-item">
              <a class="footer__text" href="">Legal</a>
            </li>
            <li class="footer__services-item">
              <a class="footer__text" href="">Terms & Conditions</a>
            </li>
            <li class="footer__services-item">
              <a class="footer__text" href="">Privecy Policy</a>
            </li>
            <li class="footer__services-item">
              <a class="footer__text" href="">Terms of use</a>
            </li>
          </ul>
        </div>
        <div class="footer__sub">
          <p class="footer__text">Subscribe now</p>
          <form action="#" method="POST" class="footer__form">
            <input
              class="footer__email footer__text"
              name="email"
              type="email"
              placeholder="Email"
              required
            /><input class="button footer__button" type="submit" value="Send" />
          </form>
        </div>
      </div>
    </footer>
    <script src="../static/js/main.js"></script>
  </body>
</html>
